In [1]:
import numpy as np
import pandas as pd

In [2]:
df={'date':['january 1','january 2','january 3','january 4','january 5','january 6','january 7','january 8','january 9','january 10'],
    'temperature':[23,21,24,29,17,19,12,30,23,26]
 }

In [3]:
df

{'date': ['january 1',
  'january 2',
  'january 3',
  'january 4',
  'january 5',
  'january 6',
  'january 7',
  'january 8',
  'january 9',
  'january 10'],
 'temperature': [23, 21, 24, 29, 17, 19, 12, 30, 23, 26]}

In [4]:
weather=pd.DataFrame(df)
display(weather)

         date  temperature
0   january 1           23
1   january 2           21
2   january 3           24
3   january 4           29
4   january 5           17
5   january 6           19
6   january 7           12
7   january 8           30
8   january 9           23
9  january 10           26

In [5]:
arr=[]

for line in weather:
    token = line.split(',')
    try:
        temperature=int(token[1])
        arr.append(temperture)
    except:
        print("invalid temperature.Ignore the row")

invalid temperature.Ignore the row
invalid temperature.Ignore the row

In [6]:
arr

[]

In [7]:
print(weather.iloc[:10,1:2])

   temperature
0           23
1           21
2           24
3           29
4           17
5           19
6           12
7           30
8           23
9           26

In [9]:
len(weather.iloc[:10,1:2])

10

In [10]:
sum(weather.temperature)

224

####  new york city weather for first few days in the month of January. Write a program that can answer following,
##### What was the average temperature in first week of Jan
##### What was the maximum temperature in first 10 days of Jan

In [12]:
avg=(sum(weather.temperature)/len(weather.iloc[:10,1:2]))
print(avg)

22.4

In [14]:
max(weather.temperature)

30

#### new york city weather for first few days in the month of January. Write a program that can answer following,
##### What was the temperature on Jan 9?
##### What was the temperature on Jan 4?

In [23]:
weather

         date  temperature
0   january 1           23
1   january 2           21
2   january 3           24
3   january 4           29
4   january 5           17
5   january 6           19
6   january 7           12
7   january 8           30
8   january 9           23
9  january 10           26

In [34]:
print(weather.iloc[8:9])

        date  temperature
8  january 9           23

In [35]:
print(weather.iloc[3:4])

        date  temperature
3  january 4           29

#### Contains famous poem "Road not taken" by poet Robert Frost. You have to read this file in python and print every word and its count as show below. Think about the best data structure that you can use to solve this problem and figure out why you selected that specific data structure.

In [38]:
with open("poem.txt",'r') as f:
    for line in f:
        print(line)

Two roads diverged in a yellow wood,

And sorry I could not travel both

And be one traveler, long I stood

And looked down one as far as I could

To where it bent in the undergrowth;



Then took the other, as just as fair,

And having perhaps the better claim,

Because it was grassy and wanted wear;

Though as for that the passing there

Had worn them really about the same,



And both that morning equally lay

In leaves no step had trodden black.

Oh, I kept the first for another day!

Yet knowing how way leads on to way,

I doubted if I should ever come back.



I shall be telling this with a sigh

Somewhere ages and ages hence:

Two roads diverged in a wood, and Iâ€”

I took the one less traveled by,

And that has made all the difference.

In [43]:
word_count = {}
with open("poem.txt","r") as f:
    for line in f:
        tokens = line.split(' ')
        for token in tokens:
            token=token.replace('\n','')
            if token in word_count:
                word_count[token]+=1
            else:
                word_count[token]=1

In [44]:
print(word_count)

{'Two': 2, 'roads': 2, 'diverged': 2, 'in': 3, 'a': 3, 'yellow': 1, 'wood,': 2, 'And': 6, 'sorry': 1, 'I': 8, 'could': 2, 'not': 1, 'travel': 1, 'both': 2, 'be': 2, 'one': 3, 'traveler,': 1, 'long': 1, 'stood': 1, 'looked': 1, 'down': 1, 'as': 5, 'far': 1, 'To': 1, 'where': 1, 'it': 2, 'bent': 1, 'the': 8, 'undergrowth;': 1, '': 3, 'Then': 1, 'took': 2, 'other,': 1, 'just': 1, 'fair,': 1, 'having': 1, 'perhaps': 1, 'better': 1, 'claim,': 1, 'Because': 1, 'was': 1, 'grassy': 1, 'and': 3, 'wanted': 1, 'wear;': 1, 'Though': 1, 'for': 2, 'that': 3, 'passing': 1, 'there': 1, 'Had': 1, 'worn': 1, 'them': 1, 'really': 1, 'about': 1, 'same,': 1, 'morning': 1, 'equally': 1, 'lay': 1, 'In': 1, 'leaves': 1, 'no': 1, 'step': 1, 'had': 1, 'trodden': 1, 'black.': 1, 'Oh,': 1, 'kept': 1, 'first': 1, 'another': 1, 'day!': 1, 'Yet': 1, 'knowing': 1, 'how': 1, 'way': 1, 'leads': 1, 'on': 1, 'to': 1, 'way,': 1, 'doubted': 1, 'if': 1, 'should': 1, 'ever': 1, 'come': 1, 'back.': 1, 'shall': 1, 'telling': 1, 'this': 1, 'with': 1, 'sigh': 1, 'Somewhere': 1, 'ages': 2, 'hence:': 1, 'Iâ€”': 1, 'less': 1, 'traveled': 1, 'by,': 1, 'has': 1, 'made': 1, 'all': 1, 'difference.': 1}